# Ignorar archivos de configuración con claves reales
config.local.js

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorar archivos de compilación
/dist
/build
/out

# Ignorar archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de logs
logs
*.log
